<h1 class="px-5 md:pl-24 py-5 title-font text-xl md:text-3xl mb-4 font-medium text-default-brown w-full">
  Conheça alguns dos nossos clientes
</h1>
<div class="swiper users w-full h-96">
  <div class="swiper-wrapper items-center">
    <div class="swiper-slide hover:z-10">
      <div class="w-full h-full px-0.5 hover:transition duration-500 hover:scale-110">
        <%= image_tag "DogUser1.jpg", class:"object-cover object-center w-full h-full rounded-lg" %>
      </div>
    </div>
    <div class="swiper-slide hover:z-10">
      <div class="w-full h-full px-0.5 hover:transition-all duration-500 hover:scale-110">
        <%= image_tag "DogUser2.jpg", class:"object-cover object-center w-full h-full rounded-lg" %>
      </div>
    </div>
    <div class="swiper-slide hover:z-10">
      <div class="w-full h-full px-0.5 hover:transition-all duration-500 hover:scale-110">
        <%= image_tag "DogUser3.jpg", class:"object-cover object-center w-full h-full rounded-lg" %>
      </div>
    </div>
    <div class="swiper-slide hover:z-10">
      <div class="w-full h-full px-0.5 hover:transition-all duration-500 hover:scale-110">
        <%= image_tag "DogUser4.jpg", class:"object-cover object-center w-full h-full rounded-lg" %>
      </div>
    </div>
    <div class="swiper-slide hover:z-10">
      <div class="w-full h-full px-0.5 hover:transition-all duration-500 hover:scale-110">
        <%= image_tag "DogUser5.jpg", class:"object-cover object-center w-full h-full rounded-lg" %>
      </div>
    </div>
    <div class="swiper-slide hover:z-10">
      <div class="w-full h-full px-0.5 hover:transition-all duration-500 hover:scale-110">
        <%= image_tag "DogUser6.jpg", class:"object-cover object-center w-full h-full rounded-lg" %>
      </div>
    </div>
    <div class="swiper-slide hover:z-10">
      <div class="w-full h-full px-0.5 hover:transition-all duration-500 hover:scale-110">
        <%= image_tag "DogUser7.jpg", class:"object-cover object-center w-full h-full rounded-lg" %>
      </div>
    </div>
    <div class="swiper-slide hover:z-10">
      <div class="w-full h-full px-0.5 hover:transition-all duration-500 hover:scale-110">
        <%= image_tag "DogUser8.jpg", class:"object-cover object-center w-full h-full rounded-lg" %>
      </div>
    </div>
    <div class="swiper-slide hover:z-10">
      <div class="w-full h-full px-0.5 hover:transition-all duration-500 hover:scale-110">
        <%= image_tag "DogUser9.jpg", class:"object-cover object-center w-full h-full rounded-lg" %>
      </div>
    </div>
    <div class="swiper-slide hover:z-10">
      <div class="w-full h-full px-0.5 hover:transition-all duration-500 hover:scale-110">
        <%= image_tag "DogUser10.jpg", class:"object-cover object-center w-full h-full rounded-lg" %>
      </div>
    </div>
    <div class="swiper-slide hover:z-10">
      <div class="w-full h-full px-0.5 hover:transition-all duration-500 hover:scale-110">
        <%= image_tag "DogUser11.jpg", class:"object-cover object-center w-full h-full rounded-lg" %>
      </div>
    </div>
    <div class="swiper-slide hover:z-10">
      <div class="w-full h-full px-0.5 hover:transition-all duration-500 hover:scale-110">
        <%= image_tag "DogUser12.jpg", class:"object-cover object-center w-full h-full rounded-lg" %>
      </div>
    </div>
  </div>

  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>