<nav class="bg-white shadow">
    <div class="container mx-auto p-4 flex items-center justify-between">
        <div class="flex items-center">
            <%= image_tag "Logo.png", class: "h-10 w-auto" %>
        </div>

        <div class="flex items-center space-x-10">
            <div class="hidden md:flex items-center space-x-10">
                <a href="#" class="relative border-b-2 border-transparent transition-colors duration-300 transform mx-1.5 sm:mx-6 group">
                    Início
                    <span class="absolute bottom-[-19.5pt] left-1/2 transform -translate-x-1/2 w-[108px] h-[6px] bg-[#291000] rounded-full transition-transform duration-300 group-hover:scale-x-100 scale-x-0"></span>
                </a>
                <a href="#" class="relative border-b-2 border-transparent transition-colors duration-300 transform mx-1.5 sm:mx-6 group">
                    Quem somos
                    <span class="absolute bottom-[-19.5pt] left-1/2 transform -translate-x-1/2 w-[108px] h-[6px] bg-[#291000] rounded-full transition-transform duration-300 group-hover:scale-x-100 scale-x-0"></span>
                </a>
                <a href="#" class="relative border-b-2 border-transparent transition-colors duration-300 transform mx-1.5 sm:mx-6 group">
                    Serviços
                    <span class="absolute bottom-[-19.5pt] left-1/2 transform -translate-x-1/2 w-[108px] h-[6px] bg-[#291000] rounded-full transition-transform duration-300 group-hover:scale-x-100 scale-x-0"></span>
                </a>
                <a href="#" class="relative border-b-2 border-transparent transition-colors duration-300 transform mx-1.5 sm:mx-6 group">
                    Contato
                    <span class="absolute bottom-[-19.5pt] left-1/2 transform -translate-x-1/2 w-[108px] h-[6px] bg-[#291000] rounded-full transition-transform duration-300 group-hover:scale-x-100 scale-x-0"></span>
                </a>
            </div>

            <div class="flex items-center space-x-4">
                <% if user_signed_in? %>
                    <%= button_to "Sair", destroy_user_session_path, method: :delete %>
                <% else %>
                    <%= link_to "Entrar", new_user_session_path, class: "px-6 py-2 font-medium tracking-wide box-border border tracking-wide capitalize transition-colors duration-300 transform bg-white border-[#291000] rounded-[6px] hover:bg-[#291000] hover:text-white focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-80" %>
                    <%= link_to "Criar conta", new_user_registration_path, class: "px-6 py-2 font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-[#291000] rounded-[6px] hover:bg-opacity-90 focus:outline-none focus:ring focus:ring-[#291000] focus:ring-opacity-80" %>
                <% end %>
            </div>
        </div>
    </div>
</nav>

<div class="relative font-sans before:absolute before:w-full before:h-full before:inset-0 before:bg-black before:opacity-50 before:z-10 h-[400pt]">
    <%= image_tag "Banner.jpg", class:"absolute inset-0 w-full h-full object-cover" %>
    <div class="min-h-[350px] relative z-50 h-full max-w-6xl mx-auto flex flex-col justify-center items-center text-center text-white p-6">
        <h2 class="sm:text-4xl text-2xl w-full font-bold mb-6 text-left">Onde a diversão e o<br> cuidado andam juntos.</h2>

        <button class="mt-12 px-6 py-2 font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-[#291000] rounded-[6px] hover:bg-opacity-90 focus:outline-none focus:ring focus:ring-[#291000] focus:ring-opacity-80">
            Saiba mais
        </button>
    </div>
</div>
