<%= render(BannerComponent.new(
    image_reference: "home",
    title: "Onde a diversão e o<br> cuidado andam juntos.",
    button_title: "Saiba mais", 
)) %>

<%= render "initial_presentation" %>

<%= render "differentiators" %>

<div class="container px-5 py-20 mx-auto">
    <div class="flex flex-col md:text-center w-full">
        <h1 class="text-xl md:text-3xl font-medium title-font mb-4">Nossos serviços</h1>
        <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Conheça os serviços que preparamos especialmente para cuidar do seu melhor amigo</p>
    </div>
</div>

<%= render "shared/product_services_cards" %>

<%= render "invite_presentation" %>

<%= render "newsletter" %>

<%= render "shared/footer" %>