<%= render(BannerComponent.new(
  image: "Banner.jpg",
  title: "Onde a diversão e o<br> cuidado andam juntos.",
  button_title: "Saiba mais", 
)) %>

<%= render "initial_presentation" %>

<%= render "differentiators" %>

<div class="container px-5 pt-20 mx-auto">
    <div class="flex flex-col text-center w-full">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4">Nossos serviços</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Conheça os serviços que preparamos especialmente para cuidar do seu melhor amigo</p>
    </div>
</div>

<%= render "shared/product_services_cards" %>

<%= render "invite_presentation" %>

<%= render "newsletter" %>

<%= render "shared/footer" %>